<div class="w-[1440px] h-[182px] relative bg-yellow-400">
    <div class="h-[182px] pl-[220px] py-[42px] left-0 top-0 absolute bg-blue-700 justify-end items-center inline-flex">
    <div class="w-[284px] h-[98px] text-neutral-900 text-2xl font-normal font-['Inter']">UEPS - CEPIA<br/>Unidad Educativa Promoción Social</div>
    </div>
    <img class="w-[154px] h-[167px] left-[50px] top-[8px] absolute" src="assets/cepialogosf.png" />
    <div class="w-[744px] h-[182px] left-[696px] top-0 absolute bg-yellow-400 flex items-center space-x-4">
        <a href="#" class="text-black hover:text-gray-300">INICIO</a>
        <a href="#" class="text-black hover:text-gray-300">INSTITUCIÓN</a>
        <a href="#" class="text-black hover:text-gray-300">OFERTA ACADEMICA</a>
        <a href="#" class="text-black hover:text-gray-300">ADMISIONES</a>
        <a href="#" class="text-black hover:text-gray-300">ACTIVIDADES</a>
    </div>
</div>
<div class="w-[1440px] h-[26px] relative bg-black"></div>

