
<div class="w-[1440px] h-[648px] justify-center items-center inline-flex">
    <img class="w-[1440px] h-[648px]" src="assets/cepiafondo.jpg" />
</div>
<div class="w-[1440px] h-[26px] relative bg-black"></div>
<div class="w-[1440px] h-[183px] relative bg-yellow-400">
    <div class="w-[1036px] h-[99px] left-[202px] top-[39px] absolute text-center text-black text-base font-medium font-['Inter']">Somos la Unidad Educativa de gran prestigio en la Provincia del Azuay; durante los 21 años educamos a jóvenes y adultos brindándoles la oportunidad de estudiar los fines de semana, para que obtengan el Título de Bachiller en Ciencias. Nuestros exalumnos en la actualidad son grandes profesionales, graduados en universidades locales y nacionales, porque no decir internacionales con lo cual han mejorado su calidad de vida, a través de proyectos de emprendimiento o autogestión.</div>
    <img class="w-[117px] h-[117px] left-[37px] top-[14px] absolute" src="assets/21cepia.PNG" />
    <img class="w-[117px] h-[117px] left-[1286px] top-[14px] absolute" src="assets/21cepia.PNG" />
</div>